<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QR Code Generator</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-social.css">

    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: royalblue;
            color: white;
        }
        .qr-code {
            margin-top: 20px;
        }

        .qr-code .link-item {
            margin-bottom: 10px;
        }
        .containerQR {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .img{
            border-radius: 7px;
        }
        .input-group {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>