<%- include('partials/header') %>

<div class="container text-center">
    <div class="containerQR">
        <h1>QR Code Generator
            <img class="img" src="https://static.vecteezy.com/system/resources/previews/002/557/391/original/qr-code-for-scanning-free-vector.jpg" alt="QR Code Logo" width="50">
        </h1>
    </div>

    <div class="card-body">
        <p class="mb-0">"Start your life easier through putting all social media links in one place and share your 'QR code' with your friends."</p>
<!--        <p class=""></p>-->
    </div>

    <div class="card-body">
        <a class="btn btn-success" href="/login" role="button">
            <i class="fab "></i>
            Let's Start
        </a>
    </div>

    <div class="card-body center-content">
        <p>Create your QR code.</p>
    </div>
</div>

<%- include('partials/footer') %>
