body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}